[submodule "delite"]
	path = delite
	url = https://github.com/wkeese/delite
[submodule "dojo"]
	path = dojo
	url = https://github.com/dojo/dojo
[submodule "dcl"]
	path = dcl
	url = https://github.com/uhop/dcl
[submodule "requirejs"]
	path = requirejs
	url = https://github.com/jrburke/requirejs
